{% if object.recipient.status == 'Delivered'%}
  {% set reaction = 'viewed' %}
{% elif object.recipient.status == 'Completed'%}
  {% set reaction = 'signed' %}
{% elif object.recipient.status == 'Declined'%}
  {% set reaction = 'declined' %}
{% elif object.recipient.status == 'sent'%}
  {% set reaction = 'sent' %}
{% endif %}


{{data.legal_full_name}} {{reaction}} "{{object.task.title}}"
