{% if data.count == 1 %}

  {% if data.recipient %}

    {{ data.recipient }}, {{ data.event }} {{ data.subject }}.

  {% else %}

    {{ data.subject }} has been {{ data.event }} one time.

  {% endif %}

{% else %}

  {{ data.subject }} has been {{ data.event }} {{ data.count }} times.

{% endif %}