{% if data.recipient %}

  {{ data.recipient }}, {{ data.action }} {{ data.subject }}.

{% else %}

  {% if data.eventNum %}

    {{ data.subject }} has been {{ data.action }} {{ data.eventNum }} times.

  {% else %}

    {{ data.subject }} has been {{ data.action }}.

  {% endif %}

{% endif %}