*~
node_modules
docs
!tests/docs
istanbul
.nyc_output
lib/configs/*
lib/configs/base.js
scripts/ntreis/timing.config.js
scripts/announcements/announcement.html
scripts/announcements/announcement.asc
scripts/announcements/subject_announcement.asc
.tern-port
.tern-project
.DS_Store
.idea/
.idea/*
*.log
jsdoc/docs
*.bk
*.swp
.vscode
scripts/setup/status.json
.env
tests/temp/*
!tests/temp/.gitkeep
.env*
out
postgres
scripts/.shell.history
