{% if data.count == 1 %}

  {% if data.recipient %}

    Has been {{ data.event }} by {{ data.recipient }}.

  {% else %}

    Has been {{ data.event }} one time.

  {% endif %}

{% else %}

  Has been {{ data.event }} {{ data.count }} times.

{% endif %}