{% if data.count %}

  {{ data.subject }} has been {{ data.event }} {{ data.count }} {% if data.count > 1 %}times{% else %}time{% endif %}.

{% else %}

  {{ data.subject }} has been {{ data.event }}.

{% endif %}