{% set listing = subjects[0] %}
{% set status = listing.status %}

{% if status == "Sold" %}
{{listing | listing_address}} just sold.{% include "lib/templates/notifications/logic/branch.tmpl" %}
{% else %}
{{listing | listing_address}} is now {{status}}. {% include "lib/templates/notifications/logic/branch.tmpl" %}
{% endif %}
