{% if data.Approved.length > 0 %}Approved: {{data.Approved.length}}<br>{% endif %}
{% if data.Declined.length > 0 %}Declined: {{data.Declined.length}}<br>{% endif %}

{% if data.Approved.length > 0 %}
  {% for approved in data.Approved %}
    ✔️ {{approved}}<br>
  {% endfor %}
{% endif %}

{% if data.Decined.length > 0 %}
  {% for declined in data.Declined %}
    ❌ {{declined}}<br>
  {% endfor %}
{% endif %}
