module.exports = {
  pg: {
    connection: {
      user: 'ashkan',
      database: 'shortlisted',
      password: '',
    }
  },

  http: {
    port: 3078
  },

  auth: {
    access_token_lifetime: 86400
  },

  salt: {
    string: 'aVv6LQ4sbpp5zDZsQA3beSmy',
    iterations: 1000,
    length: 5
  },

  amazon: {
    cfbase: 'https://d2j29n432zojb.cloudfront.net/'
  },

  buckets: {
    avatars: 'shortlisted-test',
    user_covers: 'shortlisted-test'
  }
}
