{% if target_user.id == auxiliary_object.id %}
This is an automatic message from Rechat, the Real Estate app that elevates your game.
 You can reply to this message directly and it gets delivered instantly.
{% endif %}
 {{subjects[0] | name}} invited {% if target_user.id == auxiliary_object.id %}you{% else %}{{auxiliary_object | name}}{% endif %} to join {% include 'lib/templates/notifications/logic/room_title_only.tmpl' %}.
