{% if auxiliary_subject.status == 'Sent'%}
  {% set reaction = 'sent' %}
{% elif auxiliary_subject.status == 'Delivered'%}
  {% set reaction = 'viewed' %}
{% elif auxiliary_subject.status == 'Completed'%}
  {% set reaction = 'signed' %}
{% elif auxiliary_subject.status == 'Declined'%}
  {% set reaction = 'declined' %}
{% elif auxiliary_subject.status == 'Voided'%}
  {% set reaction = 'voided' %}
{% endif %}

{{subjects[0] | name}} {{reaction}} your documents.
