Here's the reminder you scheduled for {% if transport == "Push" %}{{objects[0].due_date | time('MMM D, YYYY HH:mm', target_user.timezone)}}{% else %}{{title}}{% endif %}. Open this notification to view the details.
