{% if object.status === 'Fair'%}
  {% set action = 'completed' %}
{% else %}
  {% set action = 'updated' %}
{% endif %}

{{data.abbreviated_display_name | safe}} {{action}} form "{{object.title | safe}}"
