{% if object.status === 'Submitted'%}
  {{data.abbreviated_display_name}} Submitted
{% elseif object.status === 'Incomplete'%}
  {{data.abbreviated_display_name}} Cancelled Submission
{% elseif object.status === 'Declined'%}
  {{data.abbreviated_display_name}} Declined
{% elseif object.status === 'Approved'%}
  {{data.abbreviated_display_name}} Approved
{% endif %}