{% if object.status === 'Submitted'%}
  {% set a = 'submitted' %}
{% elseif object.status === 'Incomplete'%}
  {% set a = 'cancelled' %}
{% elseif object.status === 'Declined'%}
  {% set a = 'declined' %}
{% elseif object.status === 'Approved'%}
  {% set a = 'approved' %}
{% endif %}

{{data.abbreviated_display_name}} {{a}} the submission